# Build and Release Folders
# bin-debug/
# bin-release/
# [Oo]bj/
# [Bb]in/
node_modules

# Other files and folders
dbh.php

# Executables
*.swf
*.air
*.ipa
*.apk
*.mp3
*.mp4
*.zip
*.rar
*.iso
#*.jpg
#*.bmp
#*.png
*.psd

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
